@use './modules/_colors'
@use './modules/_sizes'

.App
  .Form-container, .GiftList-container
    //width: 450px
    padding: sizes.$lg

  .Form-container
    border-top-left-radius: sizes.$md
    border-top-right-radius: sizes.$md
    text-align: center
    color: colors.$text-primary
    background-color: colors.$background-primary

    h1
      margin-bottom: sizes.$md
      text-transform: uppercase

    button
      padding: sizes.$md + sizes.$sm
      border: none
      border-radius: sizes.$md
      font-weight: bold
      text-transform: uppercase
      color: colors.$text-primary
      background-color: colors.$black
      &:hover
        color: colors.$black
        background-color: colors.$text-primary

  .GiftList-container
    width: 450px
    min-height: 217px
    background-color: colors.$black