@use './modules/_colors'
@use './modules/_sizes'

.App
  .Form-container, .GiftList-container
    width: 350px
    padding: sizes.$lg

  .Form-container
    border-top-left-radius: sizes.$md
    border-top-right-radius: sizes.$md
    text-align: center
    color: colors.$text-primary
    background-color: colors.$background-primary

    h1
      margin-bottom: sizes.$md

  .GiftList-container
    height: 260px
    background-color: colors.$black