@use './modules/_colors'
@use './modules/_sizes'

.Form
  height: 100%
  &:invalid .buttons .add-btn
    opacity: 0.3
    cursor: not-allowed
    pointer-events: none

  .inputs, .buttons
    display: flex
    flex-direction: column

    .input, .btn
      padding: sizes.$md
      border: none

    .input
      padding: sizes.$lg
      border: 1px solid #ccc
      border-radius: sizes.$md
      margin-bottom: sizes.$md
      &:focus
        outline-color: colors.$text-primary
      &:invalid
        outline-color: colors.$extra
      &:valid
        outline-color: lime

    .gift-input
    .image-input
    .quantity-input
      width: 20%
      align-self: flex-end
      margin-bottom: sizes.$lg

  .buttons
    flex-direction: row
    justify-content: space-between
    .add-btn, .close-btn
      width: 45%
      padding: sizes.$lg
      border: none
      border-radius: sizes.$md
      font-weight: bold
      color: colors.$white
      background-color: colors.$background-primary
      cursor: pointer
      &:hover
        background-color: colors.$text-secondary

    .close-btn
      text-transform: capitalize
      color: colors.$black
      background-color: #ccc
      &:hover
        color: colors.$white
        background-color: colors.$black

  .errorMsg
    margin-top: sizes.$lg
    font-weight: bold