@use './modules/_colors'
@use './modules/_sizes'

.Gift
  display: flex
  margin-right: sizes.$lg
  margin-bottom: sizes.$lg
  padding: sizes.$md
  border-radius: sizes.$md
  background-color: colors.$text-secondary

  .gift-name, .gift-img, div
    align-self: center

  .gift-img
    height: sizes.$no-image-size
    width: 18%

  .gift-name
    width: 62%
    margin-left: sizes.$lg
    font-weight: bold
    overflow-wrap: break-word

    .gift-quantity
      color: colors.$black

    .gift-to
      color: colors.$white

  div
    width: 20%
    text-align: center
    .remove-btn
      padding: sizes.$md sizes.$lg
      font-weight: bold
      border: none
      border-radius: sizes.$lg
      background-color: colors.$text-primary
      cursor: pointer
      &:hover
        color: colors.$white
        background-color: colors.$background-primary