@use './modules/_colors'
@use './modules/_sizes'

.GiftList
  .List
    height: 230px
    overflow-y: auto

    li:last-child
      margin-bottom: 0

    &::-webkit-scrollbar
      width: sizes.$lg
      height: sizes.$lg
      &-thumb
        background-color: colors.$background-primary
        border-radius: 100px
        border: 4px solid colors.$text-primary
      &-track
        border-radius: 100px
        background-color: colors.$background-primary

  .total-container, .noGifts-container
    text-align: center

  .total-container
    margin-top: sizes.$lg
    font-size: 2rem
    color: colors.$white

  .noGifts-container
    .noGifts-btn
      margin-top: sizes.$lg
      border: none
      padding: sizes.$md
      border-radius: sizes.$md
      color: colors.$text-primary
      background-color: colors.$background-primary
      cursor: pointer
      &:hover
        color: colors.$white
        background-color: colors.$extra
      &:focus
        outline-color: colors.$white

    .noGifts-img
      width: sizes.$image-size
      height: sizes.$image-size
    .noGifts-msg
      font-size: 1.1rem
      font-weight: bold
      margin-top: sizes.$lg
      color: colors.$text-primary